body {
  background: url("../img/405b5f0dfe39a0ff3a287f17a01f0ee3.png") no-repeat center center fixed;
  text-align: center;
}

h1 {
  padding-top: 10%;
  font-size: 5rem;
}

ul {
  padding: 1rem 0;
  list-style: none;
}

li {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  font-family: 'Indie Flower', cursive;
}

ul#meow li:hover {
  color: red;
  text-decoration: underline;
}

ul#woof li:hover {
  color: dodgerblue;
  text-decoration: underline;
}

.btn {
  margin: 1rem;
}

#cat {
  color: red;
  font-family: 'Fascinate Inline', cursive;
}

#dog {
  color: dodgerblue;
  font-family: 'Fascinate Inline', cursive;
}

#cat-button {
  font-family: 'Fascinate Inline', cursive;
  font-size: 2rem;
  background-color: red;
}

#dog-button {
  font-family: 'Fascinate Inline', cursive;
  font-size: 2rem;
  background-color: dodgerblue;
}

p {
  font-size: 2rem;
  font-family: 'Indie Flower', cursive;
}
